/* Declare variables */
:root {
    --copper: hsla(2, 65%, 44%, 1);
    --blue: hsla(212, 80%, 42%, 1); 
    --copper-hex: #b92c27;
    --blue-hex: #1565c1;
}

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    height: 100%;
}

body {
    font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rrem;
    top: 15%;
    background: linear-gradient(to right, var(--copper-hex), var(--blue-hex));
}

/* Grid layout */

.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#gradient-settings-container {
    display: flex;
    flex-direction: column;

    grid-column: 1;
}

#gradient-output-container {
    display: flex;
    flex-direction: column;
    
    align-self: center;
    grid-column: 2;
}

/* General elements */
h1 {
    font: 600 3.5rem 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    width: 100%;
}

p, label {
    letter-spacing: normal;
}

div {
    margin: 2rem;
}

input[type="number"] {
    background-color: hsla(0, 0%, 0%, 0.1);
    border: 0;
    width: 4rem;
    border-radius: 3rem 0 0 3rem;

    text-align: center;
    font-size: 1.2rem;

}


/* Codebox */
code {
    display: block;
    width: 90%;
    margin: 1rem;
    padding: 1rem;

    border: 3px solid; 
    border-image: linear-gradient(to left, var(--copper), var(--blue)) 1 / 1 / 0 stretch;

    background-color: hsla(192, 15%, 12%, 0.8);

    font: 700 1rem Monospace, sans-serif;
    text-align: center;
    text-transform: none;
    letter-spacing: normal;
}

code span {
    background: linear-gradient(to right, var(--copper), var(--blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Buttons */

.direction-button-container {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.direction-button {
    display: inline-block;
    margin: 0.3rem;
    padding: 1rem;
    width: 6.5rem;

    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
}

#button-top {
    background: linear-gradient(to top, var(--blue), white);
}

#button-right {
    background: linear-gradient(to right, var(--blue), white);
    background-size: 102%;
    background-position-x: -2px;
}

#button-bottom {
    background: linear-gradient(to bottom, var(--blue), white);
}

#button-left {
    background: linear-gradient(to left, var(--blue), white);
    background-size: 102%;
}

.direction-button:hover {
    border-width: 0px 2px 0px 2px;
    border-color: black;
    border-style: solid;
    border-radius: 30%;
}

.direction-button:focus {
    border-width: 0px 2px 0px 2px;
    border-color: black;
    border-style: solid;
    border-radius: 30%;
    font-weight: 600;
}


/* Settings container */
#gradient-settings-container {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
}

#color-input-container {
    margin: 1rem;
    padding: 0;
}

#color-select-heading {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0px;

}

/* Degree selector */

#degree-container {
    align-self: center;
    padding: 1rem;
    border: 1px dashed black;

}


#degree-label {
    font-size: 1.2rem
}

